// キーフレームアニメーション

// 背景色の変化
@keyframes colorChange {
  0% {
    background-color: #4db1ec;
  }

  12.5% {
    background-color: #1665cc;
  }

  25% {
    background-color: #b473bf;
  }

  37.5% {
    background-color: #ffb2c1;
  }

  50% {
    background-color: #ff9f67;
  }

  62.5% {
    background-color: #ffd673;
  }

  75% {
    background-color: #a2e29b;
  }

  87.5% {
    background-color: #00a2af;
  }

  100% {
    background-color: #4db1ec;
  }
}
