<header class="header">
  <div class="header__inner l-container">

    <a class="header__link" href="#">WCB Conference</a>

    <nav class="gNav">
      <button class="gNav__btn" id="js-gNavBtn" type="button">Menu</button>

      <ul class="gNav__list">
        <li class="gNav__item">
          <a class="gNav__link" href="#about">About</a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#news">News</a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#speakers">Speakers</a>
        </li>

        <li class="gNav__item">
          <a class="gNav__link" href="#ticket">Ticket</a>
        </li>
      </ul>
    </nav>

  </div><!-- /.header__inner -->
</header>
