// パーツ・見出し


// 変数、ミックスイン、関数
@use "../../global" as g;


// プライマリ
.primaryHeading {
  --min-size: 48;
  --max-size: 80;
  margin-block-end: 2rem;
  text-align: center;
  font-family: Impact, sans-serif;
  font-size: var(--clamp-size);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;

  &--orange {
    background-image: linear-gradient(
      gold,
      orange
    );
  }

  &--white {
    background-color: #fff;
  }

  &--blue {
    background-image: linear-gradient(
      #4db1ec,
      #1665cc
    );
  }
}
